@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #25626E;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: #04323a;
}

.background {
    z-index: -999;
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(133, 133, 133, 0) 10%, rgba(133, 133, 133, 0) 10%, rgb(43, 44, 54) 100%);
}


.Crafting-Hero {
    display: flex;
    width: 100%;
    height: 98.5%;
    flex-wrap: wrap;
    padding: 40px 70px;
}

.Crafting-Hero header {
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 10px;
}

.Crating-Items {
    display: flex;
    gap: 10px;
    justify-content: start;
    flex-wrap: wrap;
    width: 60%;
    height: 98%;
    overflow: auto;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.659); */
}

.Crating-Item {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 190px;
    height: 190px;
    cursor: pointer;
}

.box-img-item {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 15px; */
    background: radial-gradient(circle at 100% 100%, #23273C 0, #23273C 13px, transparent 13px) 0% 0%/15px 15px no-repeat,
        radial-gradient(circle at 0 100%, #23273C 0, #23273C 13px, transparent 13px) 100% 0%/15px 15px no-repeat,
        radial-gradient(circle at 100% 0, #23273C 0, #23273C 13px, transparent 13px) 0% 100%/15px 15px no-repeat,
        radial-gradient(circle at 0 0, #23273C 0, #23273C 13px, transparent 13px) 100% 100%/15px 15px no-repeat,
        linear-gradient(#23273C, #23273C) 50% 50%/calc(100% - 4px) calc(100% - 30px) no-repeat,
        linear-gradient(#23273C, #23273C) 50% 50%/calc(100% - 30px) calc(100% - 4px) no-repeat,
        linear-gradient(90deg, transparent 0%, #4096A2 100%);
    border-radius: 15px;


    box-sizing: border-box;

    padding: 25px;
    margin-bottom: 2px;
}
.box-img-item img {
    width: 100px;
    height: 80px;
}
/* Info */
.Crafting-Info-Craft{
    /* background: gray; */
    width: 40%;
    height: 98.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Info-Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
}
/* border-bottom: 1px solid whitesmoke; */

.Info-Item-Header{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid whitesmoke;
    height: 200px;
    /* background-color: #23273C; */
}
.Info-Item-Header img {
    width: 120px;
}

.Info-Item-Boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #25626E; */
    width: 80%;
    height: 40%;
    margin :50px;
    gap: 5px;

}
.Info-Item-Box{
    padding: 10px 30px; 
    color: #33BDBC;
    text-shadow: 0 0 15px #33BDBC, 0 0 10px #33BDBC;    
    border-radius: 5px;
    font-size: 18px;
    background-color: #23273C;
}
.Level span {
    text-shadow: 0 0 15px #33BDBC, 0 0 10px #33BDBC;    
    color: #33BDBC;
font-size: 14px;
}

/* Level */
.Level-Item{
    position: absolute;
    right: 100px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Req */
.Info-Item-Req{
    /* background-color: wheat; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}
.Info-Item-Req-header{
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid whitesmoke;
    gap: 20px;
    height: 20%;
}
.Info-Item-Req-header h3{
    font-weight: 400;
}
.Info-Item-Req-Items{
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: #23273C; */
    width: 100%;
    height: 500px;
    padding: 10px;
    align-items: start;
    justify-content: center;
}
.Info-Item-Req-Item{
    /* background-color: #25626E; */
    width: 150px;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Info-Item-Req-Item-First{
    border: 1px solid whitesmoke;
    /* width: 100%; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Info-Item-Req-Item-Amount-First{
    width: 90%;
}
.Info-Item-Req-Item-Img-First{
    width: 50px;
    height: 50px;
}
.Info-Item-Req-Item-Name{
    white-space: nowrap;
}